<!DOCTYPE html>
<html lang="en">
<style>
    body {
        padding-top: 200px;
    }
    {##SM_TXT_1 {#}
    {#    font-size: 20px;#}
    {#}#}
</style>
<head>
    <meta charset="UTF-8">
    <title>Irisnet Faucet</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script>
        window.NVC_Opt = {
            appkey: 'FFFF0N000000000062E3',
            scene: 'ic_activity',
            renderTo: '#captcha',
            trans: {"key1": "code0", "nvcCode": 200},
            elements: [
                '//img.alicdn.com/tfs/TB17cwllsLJ8KJjy0FnXXcFDpXa-50-74.png',
                '//img.alicdn.com/tfs/TB17cwllsLJ8KJjy0FnXXcFDpXa-50-74.png'
            ],
            bg_back_prepared: '//img.alicdn.com/tps/TB1skE5SFXXXXb3XXXXXXXXXXXX-100-80.png',
            bg_front: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABQCAMAAADY1yDdAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAADUExURefk5w+ruswAAAAfSURBVFjD7cExAQAAAMKg9U9tCU+gAAAAAAAAAIC3AR+QAAFPlUGoAAAAAElFTkSuQmCC',
            obj_ok: '//img.alicdn.com/tfs/TB1rmyTltfJ8KJjy0FeXXXKEXXa-50-74.png',
            bg_back_pass: '//img.alicdn.com/tfs/TB1KDxCSVXXXXasXFXXXXXXXXXX-100-80.png',
            obj_error: '//img.alicdn.com/tfs/TB1q9yTltfJ8KJjy0FeXXXKEXXa-50-74.png',
            bg_back_fail: '//img.alicdn.com/tfs/TB1w2oOSFXXXXb4XpXXXXXXXXXX-100-80.png',
            upLang: {
                "cn": {
                    _ggk_guide: "请摁住鼠标左键，刮出两面盾牌",
                    _ggk_success: "恭喜您成功刮出盾牌<br/>继续下一步操作吧",
                    _ggk_loading: "加载中",
                    _ggk_fail: ['呀，盾牌不见了<br/>请', "javascript:noCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题'],
                    _ggk_action_timeout: ['我等得太久啦<br/>请', "javascript:noCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题'],
                    _ggk_net_err: ['网络实在不给力<br/>请', "javascript:noCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题'],
                    _ggk_too_fast: ['您刮得太快啦<br/>请', "javascript:noCaptcha.reset()", '再来一次', '或', "http://survey.taobao.com/survey/QgzQDdDd?token=%TOKEN", '反馈问题']
                }
            }
        }
    </script>

    <script src="//g.alicdn.com/sd/nvc/1.1.112/guide.js"></script>
    <script>
        window.onload = function () {
            var ic = new smartCaptcha({
                renderTo: '#sc',
                {#width: 300,#}
                {#height: 200,#}
                default_txt: '点击按钮开始智能验证',
                success_txt: '验证成功',
                fail_txt: '验证失败，请在此点击按钮刷新',
                scaning_txt: '智能检测中',
                success: function (data) {
                    document.getElementById("submit").removeAttribute("disabled");
                    document.getElementById("token").value = NVC_Opt.token;
                    document.getElementById("session_id").value = data.sessionId;
                    document.getElementById("sig").value = data.sig;
                },
            });
            ic.init();
        }
        apply = function () {
            if (document.getElementById("address").value === "") {
                alert("address is empty");
                return false;
            }
            $("#applyForm").ajaxSubmit(function (result) {
                if (result.err_code) {
                    document.getElementById("err_msg").innerHTML = "* "+ result.err_msg;
                } else {
                    document.getElementById("err_msg").innerHTML = "apply successfully";
                }
            });
            return false;
        }
    </script>
</head>

<body>
<script src="//g.alicdn.com/sd/smartCaptcha/0.0.1/index.js"></script>
<div class="container" style="width: 50%">
    <h2>Irisnet Testnet Faucet</h2>
    <p>Use this faucet to get tokens for the latest Irisnet testnet.
        Please don't abuse this service—the number of available tokens is limited.</p>
    <form id="applyForm" method="post" action="/apply" onsubmit="return apply()">
        <input type="text" class="form-control" id="token" name="token" placeholder="" hidden>
        <input type="text" class="form-control" id="session_id" name="session_id" placeholder="" hidden>
        <input type="text" class="form-control" id="sig" name="sig" placeholder="" hidden>
        <fieldset class="form-group">
            <input type="text" class="form-control" id="address" name="address" placeholder="Testnet address" required>
            <small id="err_msg" style="color: red"></small>
        </fieldset>
        <fieldset class="form-group">
            <div id="sc" style="margin: 0 0 0 0">
            </div>
        </fieldset>
        <button id="submit" type="submit" class="btn btn-primary" disabled>Send me Irisnet tokens</button>
    </form>
</div>
</body>
</html>